In [5]:
import pandas as pd

In [6]:
pd.read_csv("output_file.csv")

       0_x  0_vx    1_x  1_vx    2_x  2_vx    3_x  3_vx
0     5.00   4.0  10.00   1.0  17.00  -5.0  19.00  -4.0
1     5.04   4.0  10.01   1.0  16.95  -5.0  18.96  -4.0
2     5.08   4.0  10.02   1.0  16.90  -5.0  18.92  -4.0
3     5.12   4.0  10.03   1.0  16.85  -5.0  18.88  -4.0
4     5.16   4.0  10.04   1.0  16.80  -5.0  18.84  -4.0
...    ...   ...    ...   ...    ...   ...    ...   ...
1007   NaN  -4.0    NaN  -5.0    NaN   1.0    NaN   4.0
1008   NaN  -4.0    NaN  -5.0    NaN   1.0    NaN   4.0
1009   NaN   NaN    NaN  -5.0    NaN   1.0    NaN   NaN
1010   NaN   NaN    NaN  -5.0    NaN   1.0    NaN   NaN
1011   NaN   NaN    NaN  -5.0    NaN   1.0    NaN   NaN

[1012 rows x 8 columns]